@model Nop.Plugin.Misc.ProductPromotions.Models.ProductPromotionsListModel

<br><br>
<h2>@T("Nop.Plugins.Misc.ProductPromotions.Promotions.List"): </h2>
<br><br>

@if (@Model.Success)
{
    <div>
        <table class = "table table-bordered">
            <thead>
                <tr style="color:blue;text-align:center">
                    <th>@T("Nop.Plugins.Misc.ProductPromotions.Discount.Name")</th>
                    <th>@T("Nop.Plugins.Misc.ProductPromotions.Discount.Amount")</th>
                    <th>@T("Nop.Plugins.Misc.ProductPromotions.Discount.Coupon.Code")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in @Model.Promotions)
                {
                    <tr style="text-align:center">
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DiscountAmount)
                        </td>
                        <td>
                            @if (item.RequiresCouponCode)
                            {
                                @Html.DisplayFor(modelItem => item.CouponCode)
                            }
                            @if (!item.RequiresCouponCode)
                            {
                                @T("Nop.Plugins.Misc.ProductPromotions.Discount.Coupon.NotRequired")
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <br><br>
}
@if (!@Model.Success)
{
    <div> @Model.Errors[0] </div>
}
